@import "tailwindcss";



*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f9fafb;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
